@courseProgressBarHeight: 10px;

.page.shows-progress {
    padding-bottom: @block-padding-top + @courseProgressBarHeight + @body-text-font-size + @block-padding-bottom + @block-padding;
}

#course-progress {
    background-color: @background-color-inverted;
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 99;

    .block-inner {
        padding-bottom: @block-padding-bottom;
        padding-top: @block-padding-top;
    }

    .progress-bar {
        background-color: darken(@background-color-inverted, 20%);
        height: @courseProgressBarHeight;

        &.complete {
            background-color: @primary-color;
        }
    }

    .progress-percent-complete {
        color: @foreground-color-inverted;
        font-size: 0.9em;
        font-weight: bold;
        margin: @item-margin 0;
        text-align: right;
    }
}
