<div id="course-progress" class="block">
    <div class="block-inner">
        <div class="progress-bar">
            <div class="complete progress-bar" style="width:{{displayPercentComplete}}%">&nbsp;</div>
        </div>
        <p class="progress-percent-complete">{{displayPercentComplete}}% complete</p>
    </div>
</div>